html * {
    color:rgb(0, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #E1BEA8;
}

.everythang {
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    height: auto;
    min-height: 85vh;
}

.io-boxes {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
        ;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

textarea {
    width: 95%;
    height: 85%;
    resize: none;
    outline: none;
    border-color: rgb(194, 227, 227);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

textarea::-webkit-scrollbar {
    width: 0px
}

.copy-button {
    background: rgb(224, 187, 228);
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    padding: 2%;
}

.copy-button:hover {
    color: white;
    background: rgb(130, 110, 133);
}

.button-wrapper {
    border-radius: 5px;
    border: none;
    width: 95%;
    height: 10%;
    margin: 1%;
}

.paste-text {
    height: 10%;
    margin: 1%;
}
